p {
	font-family: Ubuntu, arial;
}

.container {
	display: inline-flex;
	width: 35em;
	margin: auto;
	padding-top: 3em;
	padding-bottom: 3em;
}


.register {
	background-color: white;
	border-radius: 5px;
	border: .5px solid #e6e6e6;
	width: 15em;
	margin: auto;
	padding-top: 3em;
	padding-bottom: 3em;
}

.login {
	border-radius: 5px;
	background-color: white;
	border: .5px solid #e6e6e6;
	width: 15em;
	margin: auto;
	padding-top: 3em;
	padding-bottom: 3em;
}

.App input {
	margin-bottom: 5px;
	display: table-cell;
    height: 50px;
    border: 1px solid #d1d1d1;
    margin-left: 5px;
}

input {
	padding-left: 1em;
}